<a href="https://colab.research.google.com/github/Mohit7778/DMDW-LAB/blob/main/Assignment03.ipynb" target="_parent"><img src="https://colab.research.google.com/assets/colab-badge.svg" alt="Open In Colab"/></a>

1. Define a two dimensional. Concatenate both of them

In [ ]:
import numpy as np
x = np.array([[1,2,3],[4,5,6]])
y = np.array([[11,12,13],[14,15,16]])
z = np.concatenate((x,y))
z

array([[ 1,  2,  3],
       [ 4,  5,  6],
       [11, 12, 13],
       [14, 15, 16]])

2. Create a dataframe (3x4) with random integers with explicit indexing.Peform sin(df*pi/4) operation over the dataframe.Substract first value of the dataframe from each elements of the dataframe.Substract first row of the dataframe from each rows of the dataframe.

In [ ]:
import pandas as pd
df = pd.DataFrame(np.random.randint(0,100,size = (3,4)),columns = ['A','B','C','D'])
print(df)
np.sin(df*np.pi/4)
first_value = df.iloc[0][0]
print(df.subtract(first_value,axis =1))
first_row = df.iloc[0]
print(df.subtract(first_row,axis=1))

    A   B   C   D
0  45  52  64  32
1  57  83  71  67
2  56  96  37   6
    A   B   C   D
0   0   7  19 -13
1  12  38  26  22
2  11  51  -8 -39
    A   B   C   D
0   0   0   0   0
1  12  31   7  35
2  11  44 -27 -26

3. Write a python program to read a csv file using pandas dataframe then dislay the first 8 rows of the data and also display the last 7 rows of teh data.Get and display the data types used in this data.Get and display the unique values available under a particular attribute

In [ ]:
iris = pd.read_csv("/content/drive/MyDrive/Colab Notebooks/Iris.csv")
iris.head(8)

   Id  SepalLengthCm  SepalWidthCm  PetalLengthCm  PetalWidthCm      Species
0   1            5.1           3.5            1.4           0.2  Iris-setosa
1   2            4.9           3.0            1.4           0.2  Iris-setosa
2   3            4.7           3.2            1.3           0.2  Iris-setosa
3   4            4.6           3.1            1.5           0.2  Iris-setosa
4   5            5.0           3.6            1.4           0.2  Iris-setosa
5   6            5.4           3.9            1.7           0.4  Iris-setosa
6   7            4.6           3.4            1.4           0.3  Iris-setosa
7   8            5.0           3.4            1.5           0.2  Iris-setosa

In [ ]:
iris = pd.read_csv("/content/drive/MyDrive/Colab Notebooks/Iris.csv")
iris.tail(7)

      Id  SepalLengthCm  ...  PetalWidthCm         Species
143  144            6.8  ...           2.3  Iris-virginica
144  145            6.7  ...           2.5  Iris-virginica
145  146            6.7  ...           2.3  Iris-virginica
146  147            6.3  ...           1.9  Iris-virginica
147  148            6.5  ...           2.0  Iris-virginica
148  149            6.2  ...           2.3  Iris-virginica
149  150            5.9  ...           1.8  Iris-virginica

[7 rows x 6 columns]

In [ ]:
iris.dtypes

Id                 int64
SepalLengthCm    float64
SepalWidthCm     float64
PetalLengthCm    float64
PetalWidthCm     float64
Species           object
dtype: object

4. Write a python program to read a dataset using pandas dataframe.Next check if there exist any duplicate value and ids exist any duplicate values then remove the duplicate value

In [ ]:
df2 = pd.read_csv("/content/drive/MyDrive/Colab Notebooks/Iris.csv")
duplicate = df2[df2.duplicated()]
duplicate

Empty DataFrame
Columns: [Id, SepalLengthCm, SepalWidthCm, PetalLengthCm, PetalWidthCm, Species]
Index: []

In [ ]:
df2.drop_duplicates(keep=False, inplace=True)

df2

      Id  SepalLengthCm  ...  PetalWidthCm         Species
0      1            5.1  ...           0.2     Iris-setosa
1      2            4.9  ...           0.2     Iris-setosa
2      3            4.7  ...           0.2     Iris-setosa
3      4            4.6  ...           0.2     Iris-setosa
4      5            5.0  ...           0.2     Iris-setosa
..   ...            ...  ...           ...             ...
145  146            6.7  ...           2.3  Iris-virginica
146  147            6.3  ...           1.9  Iris-virginica
147  148            6.5  ...           2.0  Iris-virginica
148  149            6.2  ...           2.3  Iris-virginica
149  150            5.9  ...           1.8  Iris-virginica

[150 rows x 6 columns]